---
layout: layouts/base.njk
templateClass: no-footer
---

{% assign previousPost = collections.projects | getPreviousCollectionItem %}
{% assign nextPost = collections.projects | getNextCollectionItem %}

<c-page>
  <page-content>
    <h1 class="">{{ title }}</h1>
    <div class="prose flow">
      {{ content | safe }}
    </div>
  </page-content>
</c-page>
